<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="elliRPC.get_documentation"
           path="/definitions"
           methods="GET"
           controller="Ellinaut\ElliRPCBundle\Controller\DefinitionController::getDocumentation"
    />

    <route id="elliRPC.get_documentation.options"
           path="/definitions"
           methods="OPTIONS"
           controller="Ellinaut\ElliRPCBundle\Controller\CORSController::respondSuccess"
    />

    <route id="elliRPC.get_package_definition"
           path="/definitions/{packageName}"
           methods="GET"
           controller="Ellinaut\ElliRPCBundle\Controller\DefinitionController::getPackageDefinition"
    />

    <route id="elliRPC.get_package_definition.options"
           path="/definitions/{packageName}"
           methods="OPTIONS"
           controller="Ellinaut\ElliRPCBundle\Controller\CORSController::respondSuccess"
    />

    <route id="elliRPC.execute_procedure"
           path="/procedures/execute"
           methods="POST"
           controller="Ellinaut\ElliRPCBundle\Controller\ProcedureController::executeProcedure"
    />

    <route id="elliRPC.execute_bulk"
           path="/procedures/bulk"
           methods="POST"
           controller="Ellinaut\ElliRPCBundle\Controller\ProcedureController::executeBulk"
    />

    <route id="elliRPC.execute_transaction"
           path="/procedures/transaction"
           methods="POST"
           controller="Ellinaut\ElliRPCBundle\Controller\ProcedureController::executeTransaction"
    />

    <route id="elliRPC.execute.options"
           path="/procedures/{type}"
           methods="OPTIONS"
           controller="Ellinaut\ElliRPCBundle\Controller\CORSController::respondSuccess"
    />

    <route id="elliRPC.get_file"
           path="/files/{fileName}"
           methods="GET"
           controller="Ellinaut\ElliRPCBundle\Controller\FileController::getFile"
    >
        <requirement key="file">.+</requirement>
    </route>

    <route id="elliRPC.upload_file"
           path="/files/{fileName}"
           methods="POST|PUT"
           controller="Ellinaut\ElliRPCBundle\Controller\FileController::uploadFile"
    >
        <requirement key="file">.+</requirement>
    </route>

    <route id="elliRPC.delete_file"
           path="/files/{fileName}"
           methods="DELETE"
           controller="Ellinaut\ElliRPCBundle\Controller\FileController::deleteFile"
    >
        <requirement key="file">.+</requirement>
    </route>

    <route id="elliRPC.file.options"
           path="/files/{fileName}"
           methods="OPTIONS"
           controller="Ellinaut\ElliRPCBundle\Controller\CORSController::respondSuccess"
    />
</routes>
